{% extends 'base.html' %}

{% block title_text %}Home{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Add Measurement</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <div id="units" class="btn-group btn-group-toggle center" data-toggle="buttons">
                <label class="btn btn-outline-secondary btn-sm active">
                    <input type="radio" name="units" id="kg" value="kg">Kg</input>
                </label>
                <label class="btn btn-outline-secondary btn-sm">
                    <input type="radio" name="units" id="stone" value="stone">Stone</input>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <canvas id="weight_chart"></canvas>
        </div>
    </div>
    <script>
        $(function() {
            $('.btn').button();

            $('#units :input').change(function() {
                drawChart($(this).val());
            });

            function drawChart(unit) {
                $.get('/track/chart/', {'unit': unit}).done(function(data) {
                    var ctx = $('#weight_chart').get(0).getContext('2d');
                    new Chart(ctx, {
                        type: 'line',
                        data: {
                            datasets: [{
                                data: [10, 20, 30, 40, 50, 60],
                                fill: false,
                                borderColor: '#ff5351'
                            }],
                            labels: ['January', 'February', 'March', 'April', 'May', 'June'],
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                });
            }

            drawChart('kg');
        });
    </script>
{% endblock %}