{% extends 'base.html' %}

{% block title_text %}Home{% endblock %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            <div id="units" class="btn-group btn-group-toggle center" data-toggle="buttons">
                <label class="btn btn-outline-secondary btn-sm">
                    <input type="radio" name="units" id="kg" value="kg">&#160;Kg&#160;</input>
                </label>
                <label class="btn btn-outline-secondary btn-sm">
                    <input type="radio" name="units" id="stone" value="stone">Stone</input>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            &#160;
        </div>
    </div>
    <div class="row">
        <div class="col">
            <canvas id="weight_chart"></canvas>
        </div>
    </div>
    <script>
        $(function() {
            $('.btn').button();

            $('#units :input').change(function() {
                drawChart($(this).val());
            });

            function drawChart(unit) {
                $.get("{% url 'chart' %}", {'unit': unit}).done(function(data) {
                    let ctx = $('#weight_chart').get(0).getContext('2d');
                    let datasets = [];

                    for (let person in data) {
                        let dataset = {
                            label: person.split(/(\s+)/)[0],
                            data: data[person]['measurements'].map(function(val) {
                                // Convert each date string to a Javascript Date object
                                return {x: new Date(val.x), y: val.y}
                            }),
                            fill: false,
                            borderColor: data[person]['colour'],
                            backgroundColor: data[person]['colour'],
                            tension: 0.2
                        };
                        datasets.push(dataset);
                    }

                    new Chart(ctx, {
                        type: 'line',
                        data: {
                            datasets: datasets
                        },
                        options: {
                            scales: {
                                xAxes: [{
                                    type: 'time',
                                    time: {
                                        unit: 'day',
                                        displayFormats: {
                                            day: 'D MMM YYYY'
                                        }
                                    }
                                }],
                                yAxes: [{
                                    scaleLabel: {
                                        labelString: unit,
                                        display: false,
                                        fontSize: 16
                                    }
                                }]
                            },
                            legend: {
                                labels: {
                                    fontSize: 14
                                }
                            }
                        }
                    });

                    window.history.pushState(null, document.getElementsByTagName("title")[0].innerHTML, "{% url 'home' %}?unit=" + unit);
                });
            }

            const params = new URLSearchParams(window.location.search);
            let unit = params.get('unit') || {% if request.user.is_authenticated %} '{{ request.user.settings.preferred_unit }}' {% else %} 'kg' {% endif %};
            let radio = $('#' + unit);
            radio.prop('checked', true);
            radio.parent('label').addClass('active');

            drawChart(unit);
        });
    </script>
{% endblock %}