{% extends 'base.html' %}

{% block title_text %}Settings{% endblock %}

{% block content %}
<form method="POST">
    <div class="row">
        <div class="col">
            {{ form.as_p }}
            {% csrf_token %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            &#160;
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input class="btn btn-primary" type="submit" value="Save" />
        </div>
    </div>
</form>
{% endblock %}
