{% load staticfiles %}
<html>
    <head>
        <title>Weight Tracker - {% block title_text %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'base.css' %}" rel="stylesheet" media="screen">
        <script src="{% static 'chart/Chart.bundle.min.js' %}"></script>
        <script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    &#160;
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link{% if not page %} active{% endif %}" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{% if page == 'mydata' %} active{% endif %}" href="{% url 'mydata' %}">My Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{% if page == 'add' %} active{% endif %}" href="#">Add Measurement</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    &#160;
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>